html, body {
    font-size: 16px;
    box-sizing: border-box;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    margin: 0;
    height: 100%;
    overflow: hidden
}

h1 {
    font-family: "Bauhaus 93";
    align-items: center;
    background: black;
    border: 0;
    font-size: 3rem;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    margin-top: 0px;
}

main {
    font-size: 5rem;
    border: 2px solid black;
    border-radius: 5px;
    background: rgba(0,0,0, 0.7);
    width:50%;
    height:75%;
    margin: 3rem auto;
    text-align: center;
}

#display {
    font-family: Bahnschrift;
    font-size: 1.7rem;
    border: 2px solid black;
    border-radius: 5px;
    background: rgb(220,220,220);
    width:40%;
    height: 7%;
    margin: 1rem auto;
    text-align: center;
    /** Beste Methode um Inhalt zentral auszurichten **/
    display: flex;
    justify-content: center;
    align-items: center;
}

#matchfield {
    border: 2px solid rgb(100,100,100);
    text-align: center;
    margin: 1rem auto;
    width: 80%;
    height: 80%;
    background: rgb(220,220,220);
}

.wrapper > div:nth-child(odd) {
    background:#c4c3c0;
}

.wrapper {
    box-sizing: border-box;
    padding: 1em;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /** 3 Spalten */
    grid-auto-rows: 1fr 1fr 1fr;
    grid-gap: 1em;
    font-size: 1rem;
}
.box {
    font-size: 6rem;
    font-family: "Arial Black";
    border: red 1px solid;
    background:#8f8e8c;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.nav {
    text-align: center;
    height: 8%;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 0px;
}

.nav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: inline-block;
}

.nav a:hover {
    color: #f1f1f1;
}

.button {
    margin-top: 10px;
     align-items: center;
     background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
     border: 0;
     border-radius: 8px;
     box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
     box-sizing: border-box;
     color: #FFFFFF;
     display: flex;
     font-family: Phantomsans, sans-serif;
     font-size: 15px;
     justify-content: center;
     line-height: 1em;
     max-width: 140px;
     min-width: 140px;
     padding: 3px;
     text-decoration: none;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     white-space: nowrap;
     cursor: pointer;
}

.button:active,
.button:hover {
    outline: 0;
}

.box:hover {
    border: 7px solid rgba(100,100,100);
    background: #646462;
}

.wrapper > div:nth-child(odd):hover {
    background: #9c9b96;
}

.button span {
    background-color: rgb(0, 0, 0);
    padding: 10px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.button:hover span {
    background: none;
}

@media (min-width: 768px) {
    .button {
        font-size: 1.3rem;
        min-width: 170px;
    }
}